<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title><%= yield %></title>
</head>
<body>
	<div class = "top-left">
		<ul>
			<li><a href="https://github.com/wtholt"><img src="github.png"></a></li>
			<li><a href="https://www.linkedin.com/profile/view?id=171238456&trk=nav_responsive_tab_profile"><img src="linkedin.png"></a></li>
		</ul>
	</div>
	<div class = "top-right">
		<ul>
			<li><a href="will.t.holt@gmail.com">will.t.holt@gmail.com</a></li>
	</div>
	<div class = "bottom-left">
		<ul>
			<li>New Mexico - 2013</li>
		</ul>

	</div>
	<div class = "bottom-right">
		<ul>
			<li>Copyright - William Holt Designs</li>
		</ul>

	</div>
	<div class = "top-centerpiece">
		<p><a href='/'>William Holt Designs</a></p>

	</div>
	<div class = "title">
		<ul>
			<li><a href='/'>Home</a></li>
			<li><a href='/about'>About</a></li>
			<li><a href='/contact'>Contact</a></li>
		</ul>
	</div>

	<%= yield %>

</body>
</html>
