<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title></title>
</head>
<body>
	<div class = "top-left">top-left</div>
	<div class = "top-right">top-right</div>
	<div class = "bottom-left">bottom-left</div>
	<div class = "bottom-right">bottom-right</div>
	<div class = "top-centerpiece">top-centerpiece</div>

	<%= yield %>

</body>
</html>
