html,
body {
	height: 100%;
}

body {
	background-image: url('road.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: relative;
	color: white;
	font-size: 16px;
	font-family: Helvetica sans-serif;
	font-weight: bolder;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: dodgerblue;
}


.top-left,
.top-right,
.bottom-left,
.bottom-right {
	position: absolute;
}

.top-left {
	top: 15px;
	left: 10px;
}

.top-left ul li {
	display: inline-block;
}

.top-left ul li img {
	width: auto;
	height: auto;
	max-width: 25px;
	max-height: 25px;
	padding: 5px;
}

.top-right {
	top: 15px;
	right: 15px;
}

.top-right ul li {
	list-style: none;
	text-decoration: none;
}

.bottom-left {
	bottom: 15px;
	left: 5px;
}

.bottom-left ul li {
	list-style: none;
	text-decoration: none;
	font-size: 15px;
	font-weight: normal;
}

.bottom-right {
	bottom: 15px;
	right: 15px;
}

.bottom-right ul li {
	list-style: none;
	text-decoration: none;
	font-size: 12px;
	font-weight: normal;
}

.top-centerpiece {
	position: relative;
	top: 43%;
	text-align: center;
	font-size: 36px;
}

.title {
	position: relative;
	top: 45%;
	right: 0;
	left: 0;
	text-align: center;
}

.title ul li {
	display: inline-block;
	padding-right: 25px;
	list-style: none;
	text-decoration: none;
}

.about {
	position: relative;
	top: 45%;
	text-align: center;
	color: dodgerblue;
	/*text-decoration: underline;*/
}

.contact {
	position: relative;
	top: 45%;
	text-align: center;
	color: dodgerblue;
	/*text-decoration: underline;*/
}



/*.index-focus {
	position: relative;
	top: 60%;
	right: 0;
	left: 0;
	text-align: center;
}*/

.about-focus {
	position: relative;
	top: 50%;
	right: 0;
	left: 0;
	text-align: center;
}

.contact-focus {
	position: relative;
	top: 50%;
	right: 0;
	left: 0;
	text-align: center;
}